$tablet: 1200px;
$mobile: 768px;

$primary-black: #181818;
$primary-dark: #2c2c2c;
$primary-grey: #8f8f8f;
$primary-grey-dark: #2f3538;

$main-background: #f3f3f3;
$sub-background: #dee7e9;
$main_brand_1: #3876d9;
$main_brand_2: #fbe84e;
